.groups-card-display{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.all-groups-header{
    display: flex;
    flex-flow: column wrap;
    width: 70%;
    align-content: center;
    line-height: 8px;
}

.cont-image{
    display: flex;
    flex-flow: wrap;
    align-content: center;
}
img{
    width: 210px;
    height: 150px;
    border: 3px black solid;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;

}
.card-container{
    display: flex;
    justify-content: center;
    border-top: lightgray 2px solid;
    border-bottom: lightgray 1px solid;
    width: 40%;
}
.card-container:hover{
    box-shadow: -1px 1px 1px red;
    cursor: pointer;
}
