.groups-card-display{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.all-groups-header{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    align-content: center;
    line-height: 8px;
    margin-left: 95px;

}
.all-groups-header>h2{
    margin-top: 100px;
    display: flex;
    column-gap: 20px;
}

.cont-image{
    display: flex;
    flex-flow: wrap;
    align-content: center;
}
img{
    width: 210px;
    height: 150px;
    border: 3px black solid;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;

}
.card-container{
    display: flex;
    justify-content: flex-start;
    border-top: lightgray 2px solid;
    border-bottom: lightgray 1px solid;
    width: 50%;
    overflow-wrap: anywhere;
}

.event-card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: lightgray 2px solid;
    border-bottom: lightgray 1px solid;
    width: 50%;
    padding-top: 20px;
    overflow-wrap: anywhere;
}

.event-card-container p {
    padding: 5px 0;
}
.event-card-container:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.203);
}
.event-card-top{
    display: flex;
}
.card-container:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.203);

}

.upper-details{
    display: flex;
    justify-content: center;
}
.upper-right h2{
    line-height: 27px;
}

div.upper-left{
    display: flex;
    flex-flow: column wrap;
}
div.upper-left>img{
    width: 500px;
    height: 300px;
}

div.upper-left span::before{
    content:'< '
}

div.upper-left span>a{
    text-decoration: underline;
    padding-bottom:10px;
}
.upper-right{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    line-height: 15px;
    width: 30%
}


#organizer-btn-update, #organizer-btn-delete, #organizer-btn-create, #organizer-btn-manage{
    background-color: darkgray;
    align-self: baseline;
    padding: 10px;
    height: 15%;
    border-radius: 3px;
    background-color:darkgray;
    color: whitesmoke;
    box-shadow: 1px 1px 2px rgb(89, 2, 38);
    text-align: center;
    width:fit-content;
    display: flex;
    align-content: center;
    flex-flow: wrap;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Lexend', sans-serif;

}

#organizer-btn-update:hover, #organizer-btn-delete:hover, #organizer-btn-create:hover {
    cursor: pointer;
    transform:scale(.99, .99)
}
.organizer-buttons-container{
    display:flex;
    justify-content: flex-start;


}
.lower-details{
    margin-top: 25px;
    background-color: rgb(231, 226, 226);
    background-size: 100%;
    padding-left: 9%;
    padding-top: 15px;
    padding-bottom: 100%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.group-details-lower-background{
    width:100%;
    background-color: rgb(231, 226, 226);
}

#other-nav{
    text-decoration: none;
    color: black;
}

#curr-nav{
    text-decoration: underline;
    color: rgba(23, 55, 98, 0.894)
}

.organizer-details>h3{
    margin-bottom: 0;
    font-size: 24px;

}
.details-block>h3{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 24px;
}

.upcoming-events .event-card-container{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 1px grey;
}


.past-events .event-card-container{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 1px 1px grey;
}

.current-group-events{
    padding-top: 10px;
}

.pending-btns{
    display: flex;
    gap: 5px;
}

#pending-btn:hover{
    cursor: pointer;
}

#join-group-btn,
#pending-btn,
#leave-group-btn,
#cancel-pending-btn{
    width: fit-content;
    height:50px;
    font-family: 'Lexend', sans-serif;
    background-color: rgb(216, 51, 29);
    color:white;
    font-size: 16px;
    padding-left: 25px;
    padding-right:25px;
    box-shadow: 2px 2px 1px grey;
    border-radius: 5px;
}

#join-group-btn:hover{
    box-shadow: .5px .5px 1px black;
}

#manage-members-table{
    width: 100%;
    margin: 0 auto;
}
#manage-members-table thead{
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px solid black;
}

.member-card-container:hover{
    background-color: whitesmoke;
}

.home-bread-crumb{
    text-align: center;
    padding: 15px;
}

.home-bread-crumb a:hover{
    color: rgb(251, 102, 21)
}
