.main-content-container{
    border:red 2px solid;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: rgb(231, 226, 226);
}
.content-container-top{
    border: blue 2px solid;
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

.group-and-event-info{
    display: flex;
    flex-flow: column;
}
.group-info-container{
    display: flex;
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 1px grey;
    width: 400px;
}
.group-info-container:hover{
    cursor: pointer;
}
.group-info{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 85%;
}
.group-info p {
    color: grey;
}
.group-info-image{
    width: 200px;
}
.group-info-image>img{
    scale:75%;
}
.event-info{
    border: green 2px solid;
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.event-times{
    display:flex;
    align-items: center;
}
.event-image-container>img{
    height: 100%;
    width: 500px;
}

.fas{
    font-size: 20px;
}

.host-buttons{
    display:flex;
    flex-flow:column wrap;
    justify-content: flex-end;
}
.host-buttons>button{
    height: 15%;
    margin: 5px;
    width: 150%;
}

.event-details-header{
    width: 925px;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 0 auto;
    line-height: 35px;
}
.event-details-header span::before{
    content: '< ';
}
.event-details-header a{
    text-decoration: underline;
}
.header-background-wrapper{
    width:100%;
    background-color: white;
}

.event-details-header h2, p{
    margin: 0;
}
