form{
    width: 40%;
    display: flex;
    margin: 0 auto;
}

form input, select {
    margin-bottom: 10px;
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 2px;

    padding: 4px;
}

form label{
    margin-top: 10px;
}
form>div {
    border: darkgrey solid 2px;
    border-left: 0;
    border-right: 0;
    padding-bottom: 5px;
    display: flex;
    flex-flow: column wrap;
}
form input, textarea, select{
    margin-top: 6px;
}


.event-form-section-one{
    border-top: none;
}
.event-form-section-one input{
    width: 75%;
}
.event-form-section-two > div , .event-form-section-three > div{
    display: flex;
    flex-flow: column wrap;
}
.event-form-section-two input{
    width:80px;
    text-align: center;

}
.event-form-section-two input::placeholder{
    text-align: center;

}

#currency-symbol{
padding-bottom: 15px;
padding-left: 10px;
transform: translate(10px);
position: absolute;
transform: translate(-5px, 35px);


}
.event-form-section-two select{
    width: fit-content;
}
.event-form-section-three input{
    width: 175px;
}

.event-form-section-four input{
    width:350px;
}

.event-form-section-five {
    border-bottom: none;
}
.event-form-section-six{
    border-top: none;
    border-bottom: none;
}

#submit-btn{
    align-self: flex-start;
    margin-left: 0;
    width: fit-content;
}

textarea{
    rows: 5;

}
