/* TODO: NAV CSS */
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: lightgray solid 1.5px;
    margin: 0;
    padding: 0;
}

.nav-bar h1{
    margin: 10px;
    padding: 3px;
}
a{
    text-decoration: none;
}

.right-nav{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

ul>li{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

button{
    height: 40%;
}

.profile-dropdown{
    border: red solid 1px;
    background: lightgrey;
    width: fit-content;

}

ul.profile-dropdown{
    list-style-type: none;
}

ul.profile-dropdown > li{
    border: blue solid 1px;

}

.hidden {
    display: none
}

.modalListItem:hover{
    cursor: pointer;
    color: rgb(10, 95, 144)
}
