
div.login-model-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 300px;
}

div.login-model-container input {
    width: 260px;
    margin-bottom: 10px;
}

#login-btn{
    width: 90%;
    align-self: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    font-family: 'Lexend', sans-serif;
    color: #2a5c60;
    background-color: #faca33;
    border-radius: 5px;

}
#login-btn:hover{
    cursor: pointer;
    scale: 50%, 50%;
    box-shadow: 1px 1px 2px darkgray;
}

#login-btn:disabled{
    box-shadow: 0 0 0 white;
    background-color: white;
    color: grey;
}
#login-btn:disabled:hover{
    cursor: auto;
    box-shadow: 0 0 0 white;
}


#demo-user-login{
    text-decoration: underline;
    color: rgb(0, 140, 255);
    padding-bottom: 8px;
}
#demo-user-login:hover{
    cursor: pointer;
    color: orange
}

#modal-content{
    border-radius: 8px;
    box-shadow: 1px 1px 8px black;
}
